services:
  template:
    build: .
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__Postgres=Host=postgres;Port=5432;Database=database;Username=postgres;Password=postgres
      - Redis__ConnectionString=redis:6379
      - Swagger__ApiKey=super-secret-key
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
    networks:
     - backend

  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d database"]
      interval: 2s
      timeout: 2s
      retries: 5   
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
     - backend

  redis:
    image: redis:7-alpine
    networks:
      - backend

volumes:
  pgdata:
  
networks:
  backend:
    external: true  